{
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 4,
  "useTabs": true,
  "quoteProps": "consistent",
  "bracketSameLine": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}
